header {
  display: flex;
  padding-bottom: 95px;
}

.header_left_nav {
  display: flex;
  margin-top: 137px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: normal;
  position: relative;
}

.header__link_active {
  text-decoration: none;
}
.custom-circle-list {
  display: flex;
  text-decoration: none;
  gap: 1px;
  padding: 0;
  margin: 0;
}

.header__list-item {
  margin-right: auto;
  list-style-type: none;
}

.link {
  list-style-type: circle;
  margin-left: 33px;
}

.header__link_watch {
  line-height: 1.2;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_auction {
  line-height: 1.2;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.image_container_link {
  display: block;
  margin-left: 39px;
  margin-top: 92px;
  background-image: url("../images/logo-black.svg");
  width: 134px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 168px;
  margin-top: 97px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}
.header_contacts {
  margin-left: 170px;
  margin-top: 97px;
}

.phone_number {
  margin-top: 2px;
  margin-left: 27px;
  text-decoration: none;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.mail {
  margin-top: 3px;
  margin-left: 26px;
  text-decoration: none;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.address {
  margin-top: 4px;
  margin-left: 26px;
  text-wrap: wrap;
  text-decoration: none;
}

.cover {
  background-image: url("../images/cover.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding-bottom: 50px;
}

.cover_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

.words {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: bold;
  position: relative;
}
.aligned-text-left {
  text-align: center;
}
.cover_title {
  top: 0;
  left: 0;
  margin-top: 164px;
  margin-left: 51px;
  position: relative;
  z-index: 2;
}

.no-letter-spacing-big_ {
  letter-spacing: 6px;
}

.no-letter-spacing-small_ {
  letter-spacing: 35px;
  text-transform: uppercase;
}

.no-letter-spacing-middle_ {
  text-transform: uppercase;
}

.aligned-text-center {
  top: 0;
  margin-top: 10px;
  margin-left: 284px;
  display: block;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.aligned-text-right {
  top: 0;
  margin-left: 583px;
  margin-top: 3px;
  display: block;
}

.no-letter-spacing-big-right {
  letter-spacing: 0.3em;
}

.no-letter-spacing-last-right {
  letter-spacing: initial;
}

.p_cover {
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  z-index: 3;
}

.p_words {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: white;
  word-spacing: 17px;
  flex-direction: row;
  margin-top: 141px;
  margin-left: 78px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button_cover {
  background-color: transparent;
  border: 1px solid white;
  width: 257px;
  height: 52px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 127px;
  margin-left: 80px;
  flex-direction: row;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
  padding-bottom: 112px;
}

.lots_title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 64px;
  text-transform: uppercase;
}
.card {
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 563px;
  position: relative;
  margin-right: 8px;
}

.lots_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  height: 100%;
  padding: 27px;
  gap: 0px;
}

.card:nth-child(3) {
  margin-right: -1px;
}

.lots_card_left {
  background-image: url("../images/card-lot-01.jpg");
}

.a_lots_card_left {
  text-decoration: none;
}

.lots_card_center {
  background-image: url("../images/card-lot-02.jpg");
}

.a_lots_card_center {
  text-decoration: none;
}
.lots_card_left_article {
  padding-right: 7px;
  position: relative;
  z-index: 2;
}
.lots_card_center_article {
  padding-right: 14px;
  position: relative;
  z-index: 2;
}
.lots_card_right_article {
  position: relative;
  z-index: 2;
}
.lots_card_right {
  background-image: url("../images/card-lot-03.jpg");
}

.a_lots_card_right {
  text-decoration: none;
}

.title_card_left_text {
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  max-width: 280px;
  text-transform: uppercase;
}

.text_card_left {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 243px;
  margin-left: 40px;
  max-width: 252px;
}

.title_card_center_text {
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  text-transform: uppercase;
  max-width: 274px;
}

.text_card_left h3 {
  text-decoration: none;
}

.text_card_center {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 0px;
  margin-left: 40px;
  max-width: 262px;
}

.title_card_right_text {
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  max-width: 240px;
  text-transform: uppercase;
}

.text_card_right {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 96px;
  margin-left: 39px;
  text-decoration: none;
  max-width: 256px;
}

.lots_more {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-left: 64px;
  margin-bottom: 100px;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.about {
  margin-top: 25px;
}

.about_ {
  display: flex;
}

.image_about {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 68px;
  margin-top: 50px;
  position: relative;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}
.image_about img {
  max-width: 148px;
  max-height: 114px;
}
.text_about {
  flex-direction: row;
  flex: 2;
}

.about_aucion {
  margin-left: 72px;
  margin-top: 148px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  text-transform: uppercase;
}

.about_text_all {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 383px;
  margin-top: 8px;
  flex-direction: column;
}

.about_text__ {
  max-width: 691px;
}

.about_text__ {
  max-width: 691px;
}

.footer {
  margin-top: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 94px;
}

.footer_contacts {
  margin-top: 87px;
  margin-left: 25px;
}

.footer_center_text {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.footer__link_no-line {
  text-decoration: none;
}

.footer_center_text_li {
  list-style-type: none;
}

.footer_channel {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 75px;
  margin-top: 85px;
  gap: 49px;
}

.footer_channel li {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
}
