body {
  width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  padding-bottom: 95px;
}

.header_left_nav{
  margin-top: 137px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
  position: relative;
   
}

.link_a{
  text-decoration: none;
}
.custom-circle-list{
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.home_link{
  margin-left: 51px;
  list-style-type: none;
}

.watch_link{
  margin-left: 31px;
  list-style-type: circle;
}

.watch_link_line{
  line-height: 1.2; 
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.auction_link{
  margin-left:36px;
  list-style-type: circle;
}
.auction_link_line{
  line-height: 1.2; 
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.image_container_link {
  display: block;
  margin-left: 42px;
  margin-top: 92px;
  background-image: url("../images/logo-black.svg");
  width: 134px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts_header {
  display: flex;
  flex-direction: column;
  margin-left: 168px;
  margin-top: 97px;
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.phone_number {
  margin-top: 2px;
  margin-left: 27px;
  text-decoration: none;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.mail {
  margin-top: 3px;
  margin-left: 26px;
  text-decoration: none;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

.address {
  margin-top: 4px;
  margin-left: 26px;
  text-wrap: wrap;
  text-decoration: none;

}

.cover {
  background-image: url("../images/cover.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.cover_overlay {
  width: 1100px;
  height: 757px;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px;
}

.words {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: bold;
  position: relative;
}
.first_word{
  text-align: center;
}
.ono_tebe_nado_words {
  top: 0;
  left: 0;
  margin-top: 164px;
  margin-left: 51px;
}

.ono_word_letter_o {
  letter-spacing: 6px;
}

.ono_word_letter_n {
  letter-spacing: 35px;
  text-transform: uppercase;
}

.ono_word_letter__o {
  text-transform: uppercase;
}

.tebe_word {
  top: 0;
  margin-top: 10px;
  margin-left: 284px;
  display: block;

}
h1 {
  text-transform: uppercase;
}
.tebe_word_t {
  letter-spacing: 7px;
  margin-right: 0px;
}

.tebe_word_e {
  letter-spacing: 6px;
}

.tebe_word_b {
  letter-spacing: 36px;
}

.tebe_word__e {
  letter-spacing: 0px;
}

.nado_word {
  top: 0;
  margin-left: 583px;
  margin-top: 3px;
  display: block;
}

.nado_word_n {
  letter-spacing: 36px;
}

.nado_word_a {
  letter-spacing: 6px;
}

.nado_word_d {
  letter-spacing: 6px;
}

.nado_word_o {
  letter-spacing: initial; 
}

.p_cover {
  display: flex;
  margin-top: 0px;
  margin-left: 0px;

}

.p_words {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: white;
  word-spacing: 17px;
  flex-direction: row;
  margin-top: 141px;
  margin-left: 78px;
  text-transform: uppercase;
  word-spacing:18px;
}

.button_cover {
  background-color: transparent;
  border: 1px solid white;
  width: 257px;
  height: 52px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 127px;
  margin-left: 80px;
  flex-direction: row;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
  height: 800px;
}

.lots_title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 64px;
  text-transform: uppercase;
}
.card {
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 563px;
}

.lots_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  margin-top: 27px;
  gap: 0px;
}
.card {
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 563px;
}
.lots_card_left {
  background-image: url("../images/card-lot-01.jpg");
  margin-left: 24px;
 
}

.lots_card_left_overlay {
  width: 334px;
  height: 563px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.a_lots_card_left {
  text-decoration: none;
}
.title_card_left_text{
  max-width: 245px;
  text-transform: uppercase;
}

.lots_card_center {
  background-image: url("../images/card-lot-02.jpg");
  margin-left: 25px;

}

.lots_card_center_overlay {
  width: 334px;
  height: 563px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.a_lots_card_center {
  text-decoration: none;
}

.lots_card_right {
  background-image: url("../images/card-lot-03.jpg");
  margin-left: 25px;
}


.lots_card_right_overlay {
  width: 334px;
  height: 563px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.a_lots_card_right {
  text-decoration: none;
}

.title_card_left_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  width: 334px;
}

.text_card_left {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 243px;
  margin-left: 40px;
  max-width: 252px;
}

.title_card_center_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  text-transform: uppercase;
  max-width: 274px;
}

.text_card_left h3 {
  text-decoration: none;
}

.text_card_center {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 0px;
  margin-left: 40px;
  max-width: 262px;
}

.title_card_right_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  max-width: 240px;
  text-transform: uppercase;
}

.text_card_right {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 96px;
  margin-left: 39px;
  text-decoration: none;
  max-width: 256px;
}

.lots_more {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  top: 30px;
  margin-left: 64px;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;

}

.about {
  margin-top: 25px;
}

.about_one {
  display: flex;
}

.circle_about {
  background-color: black;
  border-radius: 50%;
  width:240px;
  height: 240px;
  margin-top: 48px;
  margin-left: 71px;
}

.image_about {
  background-repeat: no-repeat;
  margin-left: 46px;
  margin-top: 63px;
  width: 148px;
  height: 114px;
  position: relative;
  flex-direction: row;
  flex: 0.8;
}

.text_about {
  flex-direction: row;
  flex: 2;
}

.about_aucion {
  margin-left: 72px;
  margin-top: 148px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  text-transform: uppercase;
}
.about_aucion_a{
  text-decoration: none;
}
.about_text_all {
  gap: 23px;
  margin-left: 383px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  
}

.about_text_all {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.about_text_{
  max-width: 686px;
}
.about_text__{
  max-width: 691px;
}
.footer {
  margin-top: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 94px;
}

.footer_address_ {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.footer_address_ {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-top:87px;
  margin-left:25px;
}

.footer_center_text {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-left: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.footer_center_home {
  margin-left: 31px;
  text-decoration: none;
}
.footer_center_watch {
  margin-left: -11px;
  text-decoration: underline;
  text-underline-position: under;
}
.footer_center_auction {
  margin-left: 20px;
  margin-left: 9px;
  text-decoration: underline;
  text-underline-position: under;
}
.footer_center_text_li {
  list-style-type: none;
}

.footer_channel {
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
  list-style-type: none;
}

.footer_channel li{
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
}

.youtube {
  margin-top: 88px;
  margin-left: 78px;
}

.vk {
  margin-left: 48px;
  margin-top: 87px;
}

.pinterest {
  margin-left: 48px;
  margin-top: 88px;
}