body {
  width: 1440px;
  height: 2844px;
}

header {
  height: 292px;
  display: flex;
}

.header_left a {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 136px;
}

.header_left {
  height: 23px;
}

.p_one {
  margin-left: 51px;
  margin-top: 135px;
  text-decoration: none;
}

.circle_one {
  margin-left: 9px;
}

.p_two {
 margin-left: 8px;
 text-decoration: none;
}

.p_two_ {
  content: ""; 
  display: block; 
  border-bottom: 1px solid #000; 
}

.circle_two {
  margin-left: 10px;
}

.p_three {
  text-decoration: none;
  margin-left: 8px;
}

.p_three_ {
  content: ""; 
  display: block; 
  border-bottom: 1px solid #000; 
}

.image_header {
  width: 136.11px;
  height: 104.65px;
  margin-left: 214px;
  margin-top: 93px;
}

.image_header_ {
  background-position: cover;
  background-repeat: no-repeat;
  max-width: 100%; 
  max-height: 100%; 
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 355px;
  margin-top: 97px;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.phone_number_header {
  text-decoration: none;
  margin-top: 2px;
  margin-left: 7px;
  width: 133px;
}

.phone_number_header_ {
  content: ""; 
  border-bottom: 1px solid #000; 
}

.mail_header {
  text-decoration: none;
  margin-top: 2px;
  margin-left: 7px;
  width: 130px;
}

.mail_header_ {
  content: ""; 
  display: block;
  border-bottom: 1px solid #000;
}

.address_header {
margin-top: 2px;
margin-left: 7px;
text-decoration: none;
}

.address_header_ {
margin-top: 3px;
margin-left: 7px;
text-decoration: none;
}

.cover {
width: 1440px;
height: 763.94px; 
}

.image_cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  width: 1440px;
  height: 757.94px; 
  display: inline-block;
  background-size: cover;
}

.words {
color: white;
font-family: 'Raleway', sans-serif;
font-size: 100px;
font-weight: bold;
position: absolute;
}

.one_words {
top: 0;
left: 0;
margin-top: 164px;
margin-left: 51px;
}

.letter_one {
  letter-spacing: 29px;
  text-transform:uppercase;
}

.letter_two {
  letter-spacing: 60px;
  text-transform:uppercase;
}

.letter_three {
  text-transform:uppercase;
}

.two_words {
  top: 0;
  left: 35%;
  margin-top: 291px;
  margin-left: 1px;
}
.letter_four {
  letter-spacing: 31px;
  text-transform: uppercase;
}
.letter_five {
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter_six {
  letter-spacing: 59px;
  text-transform: uppercase;
}

.letter_seven {
  text-transform: uppercase;
}
.letter_nine{
text-transform: uppercase;
}
.three_words {
  top: 0;
  margin-top: 411px;
  margin-left: 973px;
}
.letter_eight {
  letter-spacing: 61px;
  text-transform: uppercase;
}
.letter_nine {
  letter-spacing: 30px;
  text-transform: uppercase;
  width: 100px;
}

.letter_ten {
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter_last {
  text-transform: uppercase;
}

.h1_cover {
  display: flex;
}

.h1_words {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: white;
  margin-top: 668px;
  margin-left: 422px;
  word-spacing: 17px;
  flex-direction: row;
}

.h1_words_ {
  text-transform: uppercase;
}

.h1_words_last {
  margin-left: 27px;
  flex-direction: row;
  text-transform: uppercase;
}

.button_cover {
  position: absolute;
  background-color: transparent;
  border: 1px solid white;
  width: 257px;
  height: 52px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  flex-direction: row;
  margin-top: 655px;
  margin-left: 1133px;
  text-transform: uppercase;
}

.lots {
  margin-top: 174px;
  
}
.lots_title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 90px;
  text-transform: uppercase;
}

.lots_card {
  display: flex;
  flex-direction: row;
  margin-top: 27px;
}

.lots_flex {
  margin-left: 25px;
}

.lots_card_one {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  width: 430px;
  height: 450px;
  margin-left: 50px;
  background-size: cover;
}

.lots_card_two {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  width: 430px;
  height: 450px;
  background-size: cover;
}

.lots_card_three {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  width: 430px;
  height: 450px;
  background-size: cover;
}

.title_card_one_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  height: 52px;
  width: 350px;
  text-transform: uppercase;
}

.text_card_one {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 202px;
  margin-left: 40px;
  width: 353px;
}

.title_card_two_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  text-transform: uppercase;
 }

.text_card_two {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 32px;
  margin-left: 40px;
  width: 349px;
}

.title_card_three_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  text-transform: uppercase;
  width: 322px;
}

.text_card_three {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 81px;
  margin-left: 40px;
  width: 353px;
}

.lots_more {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 30px;
  margin-left: 90px;
  position: absolute;
  text-decoration: none;
}
.lots_more_ {
  content: ""; 
  border-bottom: 1px solid #000; 
}

.about {
  height: 487px;
  display: grid;
  grid-template-columns: 387px auto;
}

.circle_about {
  background-image: url("../images/circle_about.svg");
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin-top: 235px;
  margin-left: 145px;
  flex-direction: row;
}

.image_about {
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  margin-left: 46px;
  margin-top: 63px;
  width: 148px;
  height: 114px;
  position: absolute;
  flex-direction: row;
}

.text_about {
  height: 388px;
  flex-direction: row;
}

.about_h3 {
  margin-left: 118px;
  margin-top: 336px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  width: 295px;
}

.about_text_one {
  margin-top: 101px;
  margin-left: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about_text_two {
  margin-top: 24px;
  margin-left: 118px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 850px;
}

.footer {
  margin-top: 328px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_address_ {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.phone_number_footer {
  text-decoration: none;
  width: 133px;
  margin-top: 90px;
  margin-left: 50px;
 
}

 .phone_number_footer_ {
  content: ""; 
  border-bottom: 1px solid #000; 
 }
 
.mail_footer {
  text-decoration: none;
  width: 132px;
  margin-top: 2px;
  margin-left: 50px;
}

.mail_footer {
  content: ""; 
  border-bottom: 1px solid #000; 
}

.address_footer {
  width: 240px;
  margin-top: 3px;
  margin-left: 50px;
}

.address_footer_ {
  width: 240px;
  margin-top: 3px;
  margin-left: 49px;
}

.footer_center_text {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-left: 166px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer_center_one {
  margin-left: 41px;
  margin-top: 1px;
}

.footer_center_two {
  text-decoration: none;
  width: 149px;
}

.footer_center_two_ {
  content: ""; 
  border-bottom: 1px solid #000; 
}

.footer_center_three {
  margin-left: 20px;
  text-decoration: none;
  width: 108px;
  margin-top:-1px;
}

.footer_center_three_ {
  content: ""; 
  border-bottom: 1px solid #000;
 }

.footer_channel {
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.youtube {
  background-image: url("../images/yt.svg");
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-top: 88px;
  margin-left: 190px;
}

.vk {
  background-image: url("../images/vk.svg");
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 87px;
}

.pinterest {
  background-image: url("../images/pinterest.svg");
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 88px;
}
